<div class="no-decoration" >
<a href=/auctions/<%= @auctions.first.id %> style="text-decoration: none; color:white;">

<div class="featured-auction">
  <div class="featured-auction-image-card">
    <div class="featured-auction-category">
      <p style="">
    6 cold beers
  </div>
  </div>

  <div class="featured-timer">
    <p style="background-color: red; text-align: center; align-items: center; ">
  <span id="auction-timer-<%= @auctions.second.id %>" ></span> remaining!
    </p>

  </div>

  <div class="featured-auction-info">
    <p style="opacity: 1"> Current number of bids: <%= @auctions.first.bids.count %> </p>
    <p style="opacity: 1"> Current winning bid: <%= humanized_money_with_symbol(@auctions.first.winning_price) %> </p>
  </div>
<!--
  <div class="how-it-works-card">
    <p>1. Choose your item </p>
    <p>


  </div>
 -->

</div>
</a>
</div>

<div class="wrapper-grey" style="background-color: black">
      <div class="container">
        <div class="row" style="text-align: center;">
           <div class="col-xs-12 col-md-4 " >
            <div class="card-white">
               <h1>

            <i class="far fa-star"></i>

            </h1>
           <!--  <h3 >Choose your item
            </h4> -->

              <p>
                Choose from our selection of luxury goods auctions below
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-md-4" style="text-align: center;">
            <div class="card-white">
              <h1>
                <i class="far fa-money-bill-alt"></i>


            </h1>
         <!--    <h3 >Strategize
            </h4> -->
              <p>Bid the lowest price that you think no one else will choose
              <p>
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4" style="text-align: center;">
            <div class="card-white">
               <h1>
                <i class="fas fa-gavel"></i>
            </h1>
           <!--  <h3>Place your bid
            </h4> -->
              <p>The lowest unique bid at the end of the auction wins
              </p>
            </div>
          </div>
        </div>
      </div>

<div class="container" id="container-auction-index">
  <h3 style="text-decoration: underline; text-decoration-color: red; text-align: center">Active Auctions</h3>
  <div class="row">

        <% @auctions.each do |auction| %>

        <% auction.set_auction_status %>
        <% if auction.status == 1 %>

      <div class="col-xs-12 col-sm-6 col-md-4 card-style">
        <div>
          <% auction.set_auction_status %>
          <% auction.photo.url.nil? ?  url = "https://assets.wired.com/photos/w_1164/wp-content/uploads/2017/11/iphonex-TA.jpg" : url = auction.photo.url %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(230,230,230,0.1)), url('<%= cl_image_path url, crop: :fill %>')">

            <div class="card-category"><%= auction.product.name %></div>
            <div class="card-description">
              <% if auction.status == 1 %>
            <div><span id="auction-timer-<%= auction.id %>"></span></div>
          <% else %>
            <div>Auction not running</div>
          <% end %>
            </div>
            <div class="card-price">
              <%= humanized_money_with_symbol(auction.winning_price) %>

            </div>
            <img class="card-user" src="">
            <a class="card-link" <%= link_to auction.product.name, auction_path(auction) %></a>
          </div>


          <% if policy(Auction).user_admin? %>
            <%= link_to "Edit this auction", edit_auction_path(auction) %> <br>
            <%= button_to "Delete this auction", auction, method: :delete, :data => {:confirm => "Are you sure?"} %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container" id="container-auction-index">
  <h3 style="text-decoration: underline; text-decoration-color: red; text-align: center">Completed Auctions</h3>
  <div class="row">

    <% @auctions.each do |auction| %>

          <% auction.set_auction_status %>
          <% if auction.status == 2 %>

          <div class="col-xs-12 col-sm-6 col-md-4 card-style">
        <div>
          <% auction.photo.url.nil? ?  url = "https://assets.wired.com/photos/w_1164/wp-content/uploads/2017/11/iphonex-TA.jpg" : url = auction.photo.url %>

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(230,230,230,0.1)), url('<%= cl_image_path url, crop: :fill %>')">

            <div class="card-category"><%= auction.product.name %></div>
            <div class="card-description">
              <% if auction.status == 1 %>
            <div><span id="auction-timer-<%= auction.id %>"></span></div>
          <% else %>
            <div>SOLD!</div>
          <% end %>
            </div>
            <div class="card-price">
              <%= humanized_money_with_symbol(auction.winning_price) %>
            </div>
            <img class="card-user" src="">
            <a class="card-link" <%= link_to auction.product.name, auction_path(auction) %></a>
          </div>


          <% if policy(Auction).user_admin? %>
            <%= link_to "Edit this auction", edit_auction_path(auction) %> <br>
            <%= button_to "Delete this auction", auction, method: :delete, :data => {:confirm => "Are you sure?"} %>
          <% end %>

        </div>
      </div>

          <% end %>


    <% end %>
  </div>
</div>





<%= content_for :after_js do %>
  <%= javascript_tag do %>
    <% @auctions.each do |auction| %>
    if (document.querySelector("#auction-timer-<%= auction.id %>")) {
        var timeLeft = <%= auction.ending_time - DateTime.now %>
        var display = document.querySelector("#auction-timer-<%= auction.id %>");
        window.app.startTimer(timeLeft, display);
  }

    <% end %>
  <% end %>
<% end %>
