
<br>
<br>
<br>
<div class="container" id="container-auction-index">
  <div class="row">

    <% @auctions.each do |auction| %>
      <div class="col-xs-12 col-sm-4 card-style">
        <div>
          <% auction.photo.url.nil? ?  url = "http://res.cloudinary.com/dylz8qoqc/image/upload/v1527784270/sample.jpg" : url = auction.photo.url %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(230,230,230,0.1)), url('<%= cl_image_path url, crop: :fill %>')">
            <div class="card-category"><%= auction.product.name %></div>
            <div class="card-description" style="text-align: left">
              <% if auction.status == 1 %>
            <div><span id="auction-timer-<%= auction.id %>"></span> remaining!</div>
          <% else %>
            <div>Auction not running</div>
          <% end %>
            </div>
            <img class="card-user" src="">
            <a class="card-link" <%= link_to auction.product.name, auction_path(auction) %></a>
          </div>


          <% if policy(Auction).user_admin? %>
            <%= link_to "Edit this auction", edit_auction_path(auction) %> <br>
            <%= button_to "Delete this auction", auction, method: :delete, :data => {:confirm => "Are you sure?"} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= content_for :after_js do %>
  <%= javascript_tag do %>
    <% @auctions.each do |auction| %>
    if (document.querySelector("#auction-timer-<%= auction.id %>")) {
        var timeLeft = <%= auction.ending_time - DateTime.now %>
        var display = document.querySelector("#auction-timer-<%= auction.id %>");
        window.app.startTimer(timeLeft, display);
  }

    <% end %>
  <% end %>
<% end %>
