<div class="container">

  <h1 class="main-auction-show-title"><%= @auction.product.name %></h1>
  <p style="text-align: center">Auction ID: <%= @auction.id %></p>


  <% if @auction.status == 1 %>

  <% if bid_error %>
  <div class="error-message-while-bidding center"><%= bid_error %></div>
  <% else %>
  <% end %>

  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <% @auction.photo.url.nil? ?  url = "http://res.cloudinary.com/dylz8qoqc/image/upload/v1527784270/sample.jpg" : url =  @auction.photo.url %>
      <div class="auction-details" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%), url('<%= cl_image_path url, crop: :fill %>')">
        <div class="stressful-timing"><p class="red">Auction ends in:</p><span id="time"></span>!</div>
        <br>
        <div class="row">
          <div class="col-xs-9">
            <p>Current number of bids:</p>
          </div>
          <div class="col-xs-3 right">
            <% if @auction.bids.count <= 1 %>
            <p><%= @auction.bids.count %> bid</p>
            <% else %>
            <p><%= @auction.bids.count %> bids</p>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-9">
            <p>Current winning price bid:</p>
          </div>
          <div class="col-xs-3 right">
            <% if @auction.bids.count == 0 || @auction.winning_user.nil? %>
            <p>No bid, no winning price !</p>
            <% else %>
            <p><%= humanized_money_with_symbol(@auction.winning_price.to_f / 100) %></p>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-8">

      <div class="auction-details">

        <div class="row centering form">
          <%= simple_form_for [ @auction, @bid ] do |f| %>
          <div class="row single-bid">
            <div class="col-xs-12 col-md-3 right">
              <p>SINGLE BID</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= f.input :price_cents, placeholder: "Cents", label: false %>
            </div>
            <div class="col-xs-12 col-md-3">
              <%= f.submit "Bid !", class: "btn btn-primary" %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="row centering">

          <div class="col-xs-6 col-sm-3 center">
            <div class="bid-item">
              <p>My balance:</p>
              <p class="profile-balance-num"><%= humanized_money_with_symbol(current_user.wallet.balance) %></p>
            </div>
          </div>

          <div class="col-xs-6 col-sm-3 center">
            <div class="bid-item <%= "red" if bid_error == "Must be a proper mutliple of #{(@auction.price_step.to_f*100).to_i} cents" %>">
              <p>Your can bid every:</p>
              <p><%= humanized_money_with_symbol(@auction.price_step) %></p>
            </div>
          </div>

          <div class="col-xs-6 col-sm-3 center">
            <div class="bid-item">
              <p>Price of one bid:</p>
              <p><%= humanized_money_with_symbol(@auction.fee_per_bid) %></p>
            </div>
          </div>

          <div class="col-xs-6 col-sm-3 center">
            <div class="bid-item">
              <p><%= link_to "Charge your wallet", new_order_path(current_user), class: "link-to-charge" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% array = [] %>
    <% @auction.bids.sort_by { |b| b.price_cents }.each do |bid|  %>
    <% if bid.user == current_user %>
    <% array << bid %>
    <% end %>
    <% end %>

    <% unless array.size == 0 %>
    <div class="currentbids">
      <div class="col-xs-12">
        <br>
        <% if array.size == 1 %>
        <h1>You have currently <%= array.size %> bid on this auction:</h1>
        <% elsif %>
        <h1>You have currently <%= array.size %> bids on this auction:</h1>
        <% end %>
      </div>
    </div>
    <div class="currentbids-prices">
      <div class="row">
        <div class="col-xs-4 price-table-header left">Bid price</div>
        <div class="col-xs-4 price-table-header center">Created at</div>
        <div class="col-xs-4 price-table-header right">Bid id</div>
      </div>
      <% array.each do |bid| %>
      <div class="row">
        <div class="col-xs-4 left"><%= humanized_money_with_symbol(bid.price) %></div>
        <div class="col-xs-4 center"><%= bid.created_at.to_formatted_s(:short) %></div>
        <div class="col-xs-4 right"><%= bid.id %></div>
      </div>
      <% end %>
    </div>
    <% else %>
    <div class="currentbids">
      <div class="col-xs-12">
        <p>You have not bidded here yet</p>
      </div>
    </div>
    <br>

    <% end %>
  </div>

  <br>
  <br>

  <% elsif @auction.status == 2 %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="auction-details center">
        <h1><%= @auction.product.name %></h1>
        <p><i>Auction completed on <%= @auction.ending_time.strftime('%x') %></i></p>
        <br>
        <p>Final number of bids: <%= @auction.bids.count %> </p>
        <p>Final winning bid price: <% if @auction.bids.count ==0 %>
          No bids were made!
          <% else %>
          <%= humanized_money_with_symbol(@auction.winning_price.to_f / 100) %>
          <% end %></p>
          <p>Final winner: <%= @auction.winning_user.username if @auction.winning_user  %></p>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <% array = [] %>
      <% @auction.bids.sort_by { |b| b.price_cents }.each do |bid|  %>
      <% if bid.user == current_user %>
      <% array << humanized_money_with_symbol(bid.price) %>
      <% end %>
      <% end %>

      <% unless array.size == 0 %>
      <div class="currentbids">
        <div class="col-xs-12">
          <br>
          <% if array.size == 1 %>
          <h1>You did <%= array.size %> bid on this auction:</h1>
          <% elsif %>
          <h1>You did <%= array.size %> bids on this auction:</h1>
          <% end %>
        </div>
      </div>
      <div class="currentbids-prices">
        <% array.each do |price| %>
        <div class = "col-xs-6 col-md-2">
          <li><%= price %></li>
          <br>
        </div>
        <% end %>
      </div>
      <% else %>
      <div class="currentbids">
        <div class="col-xs-12">
          <p>You did not bid on this auction</p>
        </div>
      </div>
      <br>

      <% end %>
    </div>
    <br>
    <br>

    <% elsif @auction.status == 0 %>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="auction-details center">
          <h1>Auction begins at <%= @auction.starting_time %></h1>
        </div>
      </div>
    </div>

    <br>
    <br>

    <% end %>



    <script>
      function startTimer(duration, display) {
        var start = Date.now(),
        diff,
        minutes,
        seconds;
        function timer() {
          // get the number of seconds that have elapsed since
          // startTimer() was called
          diff = duration - (((Date.now() - start) / 1000) | 0);

          // does the same job as parseInt truncates the float
          minutes = (diff / 60) | 0;
          seconds = (diff % 60) | 0;
          hours = minutes / 60 | 0;
          days = hours / 24 | 0;


          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          display.textContent = days + " days " + (hours % 24) + " hours " + (minutes % 60) + " minutes and " + seconds + " seconds";

          if (diff <= 0) {
              // add one second so that the count down starts at the full duration
              // example 05:00 not 04:59
              window.location.reload(false);
            }
          };
      // we don't want to wait a full second before the timer starts
      timer();
      setInterval(timer, 1000);
    }

    window.onload = function () {
      var timeLeft = <%= @auction.ending_time - DateTime.now %>
      display = document.querySelector('#time');
      startTimer(timeLeft, display);
    };
  </script>
</div>
