<h1>Our profile page</h1>

<p>Username: <%= @user.username %></p>
<p>Email address: <%= @user.email %></p>
<p>Shipping address: <%= @user.address %></p>
<p>Current balance: <%= @user.wallet.balance_cents %></p>
<p><%= link_to "Delete my account", user_registration_path, method: :delete, :data => {:confirm => "You Sure?"} %></p>
