<div class="container">
  <div class="row" style="padding: 40px">

    <% if (@user.bids.empty?  || @user.product_won.count == 0)  %>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="profile">
        <h1><%= @user.username %>'s profile page</h1>

        <div class="row">
          <div class="col-xs-6">Username:</div>
          <div class="col-xs-6 gauche"><%= @user.username %></div>
        </div>

        <div class="row">
          <div class="col-xs-6">Email address:</div>
          <div class="col-xs-6 gauche"><%= @user.email %></div>
        </div>

        <div class="row">
          <div class="col-xs-6">Shipping address:</div>
          <div class="col-xs-6 gauche"><%= @user.address %></div>
        </div>

        <div class="row">
          <div class="col-xs-6">Current balance:</div>
          <div class="col-xs-6 gauche profile-balance-num"><%= humanized_money_with_symbol(@user.wallet.balance) %></div>
        </div>

        <br>
        <br>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= link_to "Charge your wallet", new_order_path, class: "btn recharge" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= link_to "Edit your profile", edit_user_registration_path, class: "btn edit"  %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= link_to "Delete your account", user_registration_path, class: "btn delete", method: :delete, :data => {:confirm => "You Sure?"} %>
          </div>
        </div>
      </div>

    </div>

    <% else %>

      <div class="col-xs-12 col-sm-6">
      <div class="profile">
        <h1><%= @user.username %>'s profile page</h1>

        <div class="row">
          <div class="col-xs-6">Username:</div>
          <div class="col-xs-6 gauche"><%= @user.username %></div>
        </div>

        <div class="row">
          <div class="col-xs-6">Email address:</div>
          <div class="col-xs-6 gauche"><%= @user.email %></div>
        </div>

        <div class="row">
          <div class="col-xs-6">Shipping address:</div>
          <div class="col-xs-6 gauche"><%= @user.address %></div>
        </div>

        <div class="row">
          <div class="col-xs-6">Current balance:</div>
          <div class="col-xs-6 gauche profile-balance-num"><%= humanized_money_with_symbol(@user.wallet.balance) %></div>
        </div>

        <br>
        <br>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= link_to "Charge your wallet", new_order_path, class: "btn recharge" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= link_to "Edit your profile", edit_user_registration_path, class: "btn edit"  %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= link_to "Delete your account", user_registration_path, class: "btn delete", method: :delete, :data => {:confirm => "You Sure?"} %>
          </div>
        </div>
      </div>
      </div>

      <div class="col-xs-12 col-sm-6">

      <% @user.product_won.each do |bid| %>
      <div class="row">

        <div class="col-xs-12 col-sm-6" style="text-align: center; padding: 40px">
          <p>You just won a <%= bid.auction.product.name %> !!</p>
        </div>
        <div class="col-xs-12 col-sm-6" style="text-align: center; padding: 40px">
          <% if @user.wallet.balance > bid.price %>
          <%= link_to 'Back to Auctions!!', auctions_path, class: "btn back"%>
          <% else %>
          <%= link_to 'Recharge your wallet!', new_order_path,class: "btn recharge" %>
          <% end %>
        </div>


      </div>
      <% end %>

      </div>

    <% end %>

  </div>
</div>
